/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway/raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway/raleway-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway/raleway-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v11-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway/raleway-v11-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
       url('../fonts/raleway/raleway-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway/raleway-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway/raleway-v11-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway/raleway-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway/raleway-v11-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul:after, header:after, #main:after {
  clear: both;
  content: "";
  display: table;
}
ul:before, header:before, #main:before {
  content: "";
  display: table;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway";
  font-weight: 400;
  color: #34495E;
  background: #f0f0f0;
}

header {
  background: #2d3f51;
  padding: 0 7%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.3);
  -webkit-perspective: 1555px;
  -moz-perspective: 1555px;
  perspective: 1555px;
}

#main {
  padding: 2.5em 7%;
}
#main .efx-info {
  width: 49%;
  float: left;
  padding: 2em 1em;
  font-weight: 700;
  border-radius: .2em;
}
#main .efx-info h1 {
  line-height: 1;
  display: inline-block;
  padding: .1em .2em;
  font-size: 5em;
  margin: 0;
  background: #e3e3e3;
}
#main .efx-info p {
  margin: 0;
}
#main #efx-name {
  color: #16A085;
  font-weight: 900;
  border-bottom: 4px solid #f5f5f5;
}
#main #efx-ease {
  color: #34495E;
}
#main .menu-chks {
  position: relative;
  line-height: 1;
  font-size: .9em;
  width: 45%;
  float: right;
}
#main .menu-chks input {
  margin-right: .5em;
}
#main .menu-chks input:checked + span {
  color: #16A085;
}
#main .menu-chks input:checked + span:before {
  content: "\f046";
}
#main .menu-chks span {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#main .menu-chks span:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 12px;
  top: 10px;
  color: #3b536b;
  content: "\f096";
  font-size: 1.4em;
}
#main .menu-chks label {
  color: #e8e8e8;
  font-weight: 600;
  display: inline-block;
  position: relative;
  margin: .25em;
  background: #2d3f51;
  padding: .8em 1.2em .8em 2.5em;
  border-radius: .4em;
}
#main .menu-chks label:hover {
  cursor: pointer;
}

nav li {
  position: relative;
  display: inline-block;
  float: left;
}
nav a {
  position: relative;
  z-index: 599;
  color: #f5f5f5;
  background: #2d3f51;
  text-decoration: none;
  display: block;
  padding: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav a.active {
  position: relative;
  z-index: 599;
  color: #f5f5f5;
  background: #0080ff;
  text-decoration: none;
  display: block;
  padding: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav a i[class*="caret"] {
  color: #3b536b;
  margin-left: .15em;
}
nav a:hover {
  color: #16A085;
}

nav a.active:hover{
  color: #00ff00;
}
nav a:hover + .submenu {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
}
nav .eiob .submenu {
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear;
  -moz-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.2s linear;
}
nav .ln .submenu {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
nav .ei .submenu {
  -webkit-transition: all 0.3s ease-in, opacity 0.2s linear;
  -moz-transition: all 0.3s ease-in, opacity 0.2s linear;
  transition: all 0.3s ease-in, opacity 0.2s linear;
}
nav .eo .submenu {
  -webkit-transition: all 0.3s ease-out, opacity 0.2s linear;
  -moz-transition: all 0.3s ease-out, opacity 0.2s linear;
  transition: all 0.3s ease-out, opacity 0.2s linear;
}
nav .submenu {
  display: block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 499;
  width: 14em;
  top: 100%;
  left: 0;
  background: #2d3f51;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.3);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
nav .submenu li > .submenu {
  top: 0;
  left: 100%;
}
nav .submenu:hover {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
}
nav .submenu li {
  float: none;
  display: block;
}
nav .submenu a {
  width: 100%;
  display: block;
  font-weight: 300;
  padding: 1.4em 2em;
}
nav .submenu a:hover {
  color: #f5f5f5;
  background: #14957c;
}

nav.rx li:hover + .submenu {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
nav.rx .submenu {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
nav.rx .submenu:hover {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.page-headline {
	text-align: center;
	font-size: 24px;
	display: inline;
}

.headline-button {
	float:right;
	background-color: white;
    border: 2px solid #34495E;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

.headline-button:hover {
    background-color: #34495E;
    color: white;
}

.headline-button:active {
  background-color: #34495E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#eventsContainer {
	margin-top: 10px;
}

.dataPart1 {
	text-align: left;
	font-size: 16px;
	margin-right: 20px;
}

.dataPart2 {
	text-align: left;
	font-size: 16px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.dataPart b {
	width: 120px;
    display: inline-block;
}

.imagePart {
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
	width: 200px;
}


.oneEventDiv {
	border : 2px solid #34495E;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

.oneEventDiv .nameP {
	font-size: 20px;
	margin-bottom: 35px;
    margin-top: 35px;
}


.buttonsContainer {
	float: right;
	text-align: right;
	margin-bottom: 15px;
	margin-right: 20px;
	margin-top: 20px;
}

.btnReport {
	background-color: white;
    border: 2px solid #008CBA;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   	margin-right: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 9px #999;
    margin-bottom: 15px;
}


.btnReport:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btnReport:hover {
    background-color: #008CBA;
    color: white;
}

.thumbnailImg {
    cursor: pointer;
    transition: 0.3s;
}

.thumbnailImg:hover {
	opacity: 0.7;
}

/* The Modal Image (background) */
.modalImage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modalImage-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modalImage-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.closeModImg {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeModImg:hover,
.closeModImg:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal-content-report {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    padding-top: 75px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #00ff00;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #34495E;
    color: white;
    text-align: center;
}

.modal-body {
	padding: 10px 16px;
	text-align: center;
	font-size: 16px;
}

.modal-footer {
    background-color: white;
    text-align: center;
    padding: 10px 16px;
    border-top: 2px solid #34495E;
}

.modal-footer .headline-button {
	float: none;
}

.oneReportDiv{
	border : 2px solid #34495E;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

.userImagePart{
	margin-top: 10px;
	min-width: 140px;
	text-align: center;
	float: left;
}

.oneReportDiv section{
	text-align: left;
	margin-left: 20px;
	font-size: 18px;
}

.nameSection{
	margin-top: 10px;
}
